*{
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 1140px;
  background-color: black ;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.row{
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.logo{
  width: 10%;
}
img{
  width: 100%;
}
/* nav{
  display: flex;
  align-items: center;
} */
.w{
  flex-grow: 1;
  /* display: flex; */
  /* align-items: center; */
}
.d-flex{
  display: flex;
  align-items: center;
}